In [18]:
import pandas as pd
from pandas import DataFrame, Series
from load_jnl_data import Jnls
from cafle.genfunc import showdf
from datetime import date

In [2]:
jnl = Jnls("3. 분개장_11월/분개장전체_11월.xlsx")

In [7]:
showdf(jnl.df)

               일자   전표번호   계정코드      계정과목          적요             차변             대변  구분           거래처명  부서사원 부서사원명  신용카드 신용카드명  현장코드   현장명  프로젝트 프로젝트명    코드 자금항목명  관리항목      유형
0      2022-11-01  00001  25300      미지급금     （주）제일기획  1,000,000,000              0  차변       (주) 제일기획  None  None  None  None  None  None  None  None  None  None  None    일반전표
1      2022-11-01  00001  10300      보통예금     （주）제일기획              0  1,000,000,000  대변    기업은행(04010)  None  None  None  None  None  None  None  None  None  None  None    일반전표
2      2022-11-01  00002  25300      미지급금     （주）제일기획    700,000,000              0  차변       (주) 제일기획  None  None  None  None  None  None  None  None  None  None  None    일반전표
3      2022-11-01  00002  10300      보통예금     （주）제일기획              0    700,000,000  대변    기업은행(04010)  None  None  None  None  None  None  None  None  None  None  None    일반전표
4      2022-11-01  00003  10300      보통예금     스마트스토어정        195,293              0  차변    기업은행(04010)  None  None  None  None  None  None  None  None  None  None  None    일반전표
...           ...    ...    ...       ...         ...            ...            ...  ..            ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...     ...
13977  2022-11-30  50019  83300  광고선전비(판)  DA(구글&CPA)     93,900,722              0  차변  주식회사 엠아이디파트너스  None  None  None  None  None  None  None  None  None  None  None  매입매출전표
13978  2022-11-30  50019  25300      미지급금  DA(구글&CPA)              0    103,290,794  대변  주식회사 엠아이디파트너스  None  None  None  None  None  None  None  None  None  None  None  매입매출전표
13979  2022-11-30  50020  13500    부가세대급금    푸딩 정기서비스      1,663,310              0  차변       주식회사 열두달  None  None  None  None  None  None  None  None  None  None  None  매입매출전표
13980  2022-11-30  50020  81100  복리후생비(판)    푸딩 정기서비스     16,633,090              0  차변       주식회사 열두달  None  None  None  None  None  None  None  None  None  None  None  매입매출전표
13981  2022-11-30  50020  25300      미지급금    푸딩 정기서비스              0     18,296,400  대변       주식회사 열두달  None  None  None  None  None  None  None  None  None  None  None  매입매출전표

[13982 rows x 21 columns]

In [8]:
jnl.df.계정과목.drop_duplicates()

0                      미지급금
1                      보통예금
5                     외상매출금
11                  소모품비(판)
13                      미수금
22               설명회_바우처(판)
23                 지급수수료(판)
27                    미지급비용
49                 도서인쇄비(판)
529                여비교통비(판)
533                  통신비(판)
535                복리후생비(판)
547                  운반비(판)
607                  접대비(판)
701                  부가세대급금
702                수도광열비(판)
708              기프트콘판촉물(판)
733                      현금
1375               광고선전비(판)
1934                   시설장치
1975                    잡이익
1984                    잡손실
2244               교육훈련비(판)
4415               교재제작비(판)
5405          Recruiting(판)
5414               지급임차료(판)
5424                    예수금
7228                   이자비용
10528                  선납세금
10530                  이자수익
11345    사업소득_Influencer(판)
11839                  선급비용
12251                   선급금
13664                  선수수익
13665                  상품매출
13939                 B2C매출
13947                  교재매출
13952                부가세예수금
13953                 B2B매출
13956                 역량지원금
Name: 계정과목, dtype: object

In [26]:
#### 수익 ####
lst = ['잡이익', '이자수익', '상품매출', 'B2C매출', '교재매출', 'B2B매출']
showdf(Series([jnl.계정과목(x).대변.sum() for x in lst]))

0          100,000
1          436,371
2     -815,959,384
3    2,434,437,088
4        9,743,100
5        6,899,200
dtype: object

In [28]:
print(f"수익합계 : {sum([jnl.계정과목(x).대변.sum() for x in lst]):,.0f}")

수익합계 : 1,635,656,375

In [29]:
#### 비용 ####
cst_pan = ['소모품비(판)', '설명회_바우처(판)', '지급수수료(판)', '도서인쇄비(판)', '여비교통비(판)', '통신비(판)',
           '복리후생비(판)', '운반비(판)', '접대비(판)', '수도광열비(판)', '기프트콘판촉물(판)', '광고선전비(판)',
           '교육훈련비(판)', '교재제작비(판)', 'Recruiting(판)', '지급임차료(판)', '사업소득_Influencer(판)']
cst_otr = ['잡손실', '이자비용', '역량지원금']

In [31]:
srs = Series([jnl.계정과목(x).차변.sum() for x in cst_pan], index=cst_pan)
showdf(srs)

소모품비(판)                31,622,173
설명회_바우처(판)             62,484,000
지급수수료(판)              313,913,911
도서인쇄비(판)               47,232,750
여비교통비(판)               23,160,905
통신비(판)                  6,809,574
복리후생비(판)               81,107,620
운반비(판)                    614,700
접대비(판)                  3,591,380
수도광열비(판)              109,798,000
기프트콘판촉물(판)                 40,867
광고선전비(판)              297,111,312
교육훈련비(판)                  675,800
교재제작비(판)                  675,600
Recruiting(판)          12,765,100
지급임차료(판)              193,061,553
사업소득_Influencer(판)      2,500,000
dtype: object

In [34]:
print(f"판관비합계 : {sum(srs):,.0f}")

판관비합계 : 1,187,165,245

In [50]:
srs = Series([jnl.계정과목(x).차변.sum() for x in cst_otr], index=cst_otr)
showdf(srs)

잡손실      371,030,000
이자비용       2,111,736
역량지원금              0
dtype: object

In [51]:
print(f"기타비용합계 : {sum(srs):,.0f}")

기타비용합계 : 373,141,736

# 이하 상기 데이터를 검토하는 내용임

In [55]:
showdf(jnl.계정과목('수도광열비(판)'))

             일자   전표번호   계정코드      계정과목                  적요           차변 대변  구분                거래처명  부서사원 부서사원명  신용카드 신용카드명  현장코드   현장명  프로젝트 프로젝트명    코드 자금항목명  관리항목      유형
702  2022-11-01  50001  81500  수도광열비(판)  11월 추가관리비(추가 냉방요금)    8,192,000  0  차변  와이이십이프로젝트금융투자 주식회사  None  None  None  None  None  None  None  None  None  None  None  매입매출전표
705  2022-11-01  50002  81500  수도광열비(판)             11월 관리비  101,606,000  0  차변  와이이십이프로젝트금융투자 주식회사  None  None  None  None  None  None  None  None  None  None  None  매입매출전표

In [56]:
showdf(jnl.계정과목('지급임차료(판)'))

               일자   전표번호   계정코드      계정과목                 적요          차변 대변  구분                거래처명  부서사원 부서사원명  신용카드 신용카드명  현장코드   현장명  프로젝트 프로젝트명    코드 자금항목명  관리항목        유형
5414   2022-11-09  50005  81900  지급임차료(판)          서비스 이용료 1   9,778,800  0  차변  주식회사 아라워크앤올 마포T타운점  None  None  None  None  None  None  None  None  None  None  None    매입매출전표
9817   2022-11-18  00012  81900  지급임차료(판)                이상기   2,200,000  0  차변            당산 현대홈타운  None  None  None  None  None  None  None  None  None  None  None      일반전표
10875  2022-11-21  50002  81900  지급임차료(판)          서비스 이용료 3   7,450,000  0  차변  주식회사 아라워크앤올 마포T타운점  None  None  None  None  None  None  None  None  None  None  None    매입매출전표
13411  2022-11-30  00001  81900  지급임차료(판)    파크원 11월 임차료_39층  95,618,717  0  차변  와이이십이프로젝트금융투자 주식회사  None  None  None  None  None  None  None  None  None  None  None  복사전표[일반]
13413  2022-11-30  00002  81900  지급임차료(판)  파크원 11월 임차료_38층 1   9,178,923  0  차변  와이이십이프로젝트금융투자 주식회사  None  None  None  None  None  None  None  None  None  None  None  복사전표[일반]
13415  2022-11-30  00003  81900  지급임차료(판)  파크원 11월 임차료_38층 2  68,835,113  0  차변  와이이십이프로젝트금융투자 주식회사  None  None  None  None  None  None  None  None  None  None  None  복사전표[일반]

In [64]:
tmp = jnl.일자(date(2022, 11, 1))
tmp[tmp.전표번호 == '50001']

             일자   전표번호   계정코드      계정과목                  적요       차변       대변  구분                거래처명  부서사원 부서사원명  신용카드 신용카드명  현장코드   현장명  프로젝트 프로젝트명    코드 자금항목명  관리항목      유형
701  2022-11-01  50001  13500    부가세대급금  11월 추가관리비(추가 냉방요금)   819200        0  차변  와이이십이프로젝트금융투자 주식회사  None  None  None  None  None  None  None  None  None  None  None  매입매출전표
702  2022-11-01  50001  81500  수도광열비(판)  11월 추가관리비(추가 냉방요금)  8192000        0  차변  와이이십이프로젝트금융투자 주식회사  None  None  None  None  None  None  None  None  None  None  None  매입매출전표
703  2022-11-01  50001  25300      미지급금  11월 추가관리비(추가 냉방요금)        0  9011200  대변  와이이십이프로젝트금융투자 주식회사  None  None  None  None  None  None  None  None  None  None  None  매입매출전표

In [58]:
jnl.일자(date(2022, 11, 21))

               일자   전표번호   계정코드           계정과목           적요       차변       대변  구분                거래처명  부서사원 부서사원명  신용카드 신용카드명  현장코드   현장명  프로젝트 프로젝트명    코드 자금항목명  관리항목      유형
10525  2022-11-21  00001  10300           보통예금      스마트스토어정  1026714        0  차변         기업은행(04010)  None  None  None  None  None  None  None  None  None  None  None    일반전표
10526  2022-11-21  00001  10800          외상매출금      스마트스토어정        0  1026714  대변         네이버스마트스토어교재  None  None  None  None  None  None  None  None  None  None  None    일반전표
10527  2022-11-21  00002  10300           보통예금      2022년결산   369181        0  차변         기업은행(04010)  None  None  None  None  None  None  None  None  None  None  None    일반전표
10528  2022-11-21  00002  13600           선납세금  이자소득 원천징수세액    61090        0  차변              영등포세무서  None  None  None  None  None  None  None  None  None  None  None    일반전표
10529  2022-11-21  00002  13600           선납세금  이자소득 원천징수세액     6100        0  차변               영등포구청  None  None  None  None  None  None  None  None  None  None  None    일반전표
...           ...    ...    ...            ...          ...      ...      ...  ..                 ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...     ...
10872  2022-11-21  50001  83109  Recruiting(판)  채용플랫폼 이용수수료  2352000        0  차변           주식회사 원티드랩  None  None  None  None  None  None  None  None  None  None  None  매입매출전표
10873  2022-11-21  50001  25300           미지급금  채용플랫폼 이용수수료        0  2587200  대변           주식회사 원티드랩  None  None  None  None  None  None  None  None  None  None  None  매입매출전표
10874  2022-11-21  50002  13500         부가세대급금    서비스 이용료 3   745000        0  차변  주식회사 아라워크앤올 마포T타운점  None  None  None  None  None  None  None  None  None  None  None  매입매출전표
10875  2022-11-21  50002  81900       지급임차료(판)    서비스 이용료 3  7450000        0  차변  주식회사 아라워크앤올 마포T타운점  None  None  None  None  None  None  None  None  None  None  None  매입매출전표
10876  2022-11-21  50002  25300           미지급금    서비스 이용료 3        0  8195000  대변  주식회사 아라워크앤올 마포T타운점  None  None  None  None  None  None  None  None  None  None  None  매입매출전표

[352 rows x 21 columns]

In [65]:
미지급금 = jnl.계정과목('미지급금')

In [70]:
미지급금.적요.drop_duplicates()

0                          （주）제일기획
8                             신한카드
20                         롯데카드(주)
25                         주식회사 루나
50                           도서인쇄비
                   ...
13969                      디지털 서비스
13972    2022년 11월 가입비 1 X 392,727
13975                   사무실 간식, 음료
13978                   DA(구글&CPA)
13981                     푸딩 정기서비스
Name: 적요, Length: 296, dtype: object

In [44]:
교통비 = jnl.계정과목('여비교통비(판)')
야근교통비 = 교통비[교통비['적요'] == '야근교통비']

In [45]:
야근교통비

               일자   전표번호   계정코드      계정과목     적요     차변  대변  구분          거래처명  부서사원 부서사원명  신용카드 신용카드명  현장코드   현장명  프로젝트 프로젝트명    코드 자금항목명  관리항목    유형
537    2022-11-01  00269  81200  여비교통비(판)  야근교통비   5200   0  차변  주식회사 한국스마트카드  None  None  None  None  None  None  None  None  None  None  None  일반전표
543    2022-11-01  00272  81200  여비교통비(판)  야근교통비  14700   0  차변  주식회사 한국사이버결제  None  None  None  None  None  None  None  None  None  None  None  일반전표
555    2022-11-01  00278  81200  여비교통비(판)  야근교통비   9600   0  차변  주식회사 한국사이버결제  None  None  None  None  None  None  None  None  None  None  None  일반전표
567    2022-11-01  00284  81200  여비교통비(판)  야근교통비   3000   0  차변  주식회사 한국스마트카드  None  None  None  None  None  None  None  None  None  None  None  일반전표
569    2022-11-01  00285  81200  여비교통비(판)  야근교통비  10400   0  차변  주식회사 한국스마트카드  None  None  None  None  None  None  None  None  None  None  None  일반전표
...           ...    ...    ...       ...    ...    ...  ..  ..           ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
13903  2022-11-30  00234  81200  여비교통비(판)  야근교통비  13800   0  차변  주식회사 한국스마트카드  None  None  None  None  None  None  None  None  None  None  None  일반전표
13919  2022-11-30  00242  81200  여비교통비(판)  야근교통비  17500   0  차변  주식회사 한국스마트카드  None  None  None  None  None  None  None  None  None  None  None  일반전표
13921  2022-11-30  00243  81200  여비교통비(판)  야근교통비  27900   0  차변  주식회사 한국스마트카드  None  None  None  None  None  None  None  None  None  None  None  일반전표
13925  2022-11-30  00245  81200  여비교통비(판)  야근교통비  23300   0  차변  주식회사 한국스마트카드  None  None  None  None  None  None  None  None  None  None  None  일반전표
13927  2022-11-30  00246  81200  여비교통비(판)  야근교통비  31200   0  차변  주식회사 한국스마트카드  None  None  None  None  None  None  None  None  None  None  None  일반전표

[1020 rows x 21 columns]

In [49]:
sum(야근교통비['차변']) / len(야근교통비)

17462.441176470587