In [1]:
import pandas as pd
from pandas import DataFrame, Series
from load_jnl_data import Jnls
from cafle.genfunc import showdf
from datetime import date

In [2]:
jnl = Jnls("3. 분개장_11월/분개장전체_2022년.xlsx")

# 데이터 검토

## 1월 ~ 10월 데이터로 한정하여 검토

In [11]:
jnl22 = jnl.월([1,2,3,4,5,6,7,8,9,10])
df22 = jnl22.df

In [35]:
jnl22.일자(date(2022, 10, 31)).전표번호(['50005', '50006', '50007', '50008', '50009', '50010', '50011', '50013']).df

               일자   전표번호   계정코드    계정과목               적요          차변          대변  구분          거래처명        유형     년   월   일   대분류        중분류     소분류
93215  2022-10-31  50005  10800   외상매출금     KCP_신용카드_10월   180866114           0  차변  주식회사 한국사이버결제  복사전표[매출]  2022  10  31  유동자산  매출채권및기타채권   외상매출금
93216  2022-10-31  50005  40101   B2C매출     KCP_신용카드_10월           0   180866114  대변  주식회사 한국사이버결제  복사전표[매출]  2022  10  31    매출         매출   B2C매출
93217  2022-10-31  50006  10800   외상매출금    TOSS_신용카드_10월  1070978644           0  차변   토스페이먼츠 주식회사  복사전표[매출]  2022  10  31  유동자산  매출채권및기타채권   외상매출금
93218  2022-10-31  50006  40101   B2C매출    TOSS_신용카드_10월           0  1070978644  대변   토스페이먼츠 주식회사  복사전표[매출]  2022  10  31    매출         매출   B2C매출
93219  2022-10-31  50007  10800   외상매출금    TOSS_가상계좌_10월   127021000           0  차변   토스페이먼츠 주식회사  복사전표[매출]  2022  10  31  유동자산  매출채권및기타채권   외상매출금
93220  2022-10-31  50007  40101   B2C매출    TOSS_가상계좌_10월           0   127021000  대변   토스페이먼츠 주식회사  복사전표[매출]  2022  10  31    매출         매출   B2C매출
93221  2022-10-31  50008  10800   외상매출금  TOSS_포인트결제등_10월    -4402500           0  차변   토스페이먼츠 주식회사  복사전표[매출]  2022  10  31  유동자산  매출채권및기타채권   외상매출금
93222  2022-10-31  50008  40101   B2C매출  TOSS_포인트결제등_10월           0    -4402500  대변   토스페이먼츠 주식회사  복사전표[매출]  2022  10  31    매출         매출   B2C매출
93223  2022-10-31  50009  10800   외상매출금     네이버_신용카드_10월     5513774           0  차변   네이버스마트스토어교재  복사전표[매출]  2022  10  31  유동자산  매출채권및기타채권   외상매출금
93224  2022-10-31  50009  40103    교재매출     네이버_신용카드_10월           0     5513774  대변   네이버스마트스토어교재  복사전표[매출]  2022  10  31    매출         매출    교재매출
93225  2022-10-31  50010  10800   외상매출금     네이버_가상계좌_10월     1726650           0  차변   네이버스마트스토어교재  복사전표[매출]  2022  10  31  유동자산  매출채권및기타채권   외상매출금
93226  2022-10-31  50010  40103    교재매출     네이버_가상계좌_10월           0     1726650  대변   네이버스마트스토어교재  복사전표[매출]  2022  10  31    매출         매출    교재매출
93227  2022-10-31  50011  10800   외상매출금   네이버_포인트결제등_10월      646176           0  차변   네이버스마트스토어교재  복사전표[매출]  2022  10  31  유동자산  매출채권및기타채권   외상매출금
93228  2022-10-31  50011  40103    교재매출   네이버_포인트결제등_10월           0      646176  대변   네이버스마트스토어교재  복사전표[매출]  2022  10  31    매출         매출    교재매출
93232  2022-10-31  50013  25500  부가세예수금     10월 베이직 프로그램           0      763840  대변         영어의 꿈    매입매출전표  2022  10  31  유동부채     기타유동부채  부가세예수금
93233  2022-10-31  50013  40102   B2B매출     10월 베이직 프로그램           0     7638400  대변         영어의 꿈    매입매출전표  2022  10  31    매출         매출   B2B매출
93234  2022-10-31  50013  10800   외상매출금     10월 베이직 프로그램     8402240           0  차변         영어의 꿈    매입매출전표  2022  10  31  유동자산  매출채권및기타채권   외상매출금

In [65]:
jnl22.중분류(['기타판관비', '매출채권및기타채권']).월(9).df

               일자   전표번호   계정코드              계정과목                                적요        차변         대변  구분             거래처명      유형     년  월   일      대분류        중분류    소분류
68362  2022-09-01  00003  10800             외상매출금                           스마트스토어정         0     214076  대변      네이버스마트스토어교재    일반전표  2022  9   1     유동자산  매출채권및기타채권  외상매출금
68364  2022-09-01  00004  10800             외상매출금                        tosspaymen         0  162389672  대변      토스페이먼츠 주식회사    일반전표  2022  9   1     유동자산  매출채권및기타채권  외상매출금
68365  2022-09-01  00005  83000           소모품비(판)                               상비약    155000          0  차변         파크원온누리약국    일반전표  2022  9   1  판매비와관리비      기타판관비   소모품비
68367  2022-09-01  00006  83000           소모품비(판)                         밀당스퀘어 플래그    262500          0  차변     네이버파이낸셜 주식회사    일반전표  2022  9   1  판매비와관리비      기타판관비   소모품비
68369  2022-09-01  00007  83000           소모품비(판)                     밀당스퀘어 포스트잇 태그     95000          0  차변        십일번가 주식회사    일반전표  2022  9   1  판매비와관리비      기타판관비   소모품비
...           ...    ...    ...               ...                               ...       ...        ...  ..              ...     ...   ... ..  ..      ...        ...    ...
83284  2022-09-30  50038  83100          지급수수료(판)                           09월 물류비   1530342          0  차변          위킵 주식회사  매입매출전표  2022  9  30  판매비와관리비      기타판관비  지급수수료
83288  2022-09-30  50040  83100          지급수수료(판)  매출(외상)_NCP-민간_아이헤이트플라잉버그스_후불결제수단    250470          0  차변  네이버비즈니스플랫폼 주식회사  매입매출전표  2022  9  30  판매비와관리비      기타판관비  지급수수료
83290  2022-09-30  50041  83104  판매수수료(KCP,토스)(판)                         네이버페이 수수료    297195          0  차변     네이버파이낸셜 주식회사  매입매출전표  2022  9  30  판매비와관리비      기타판관비  지급수수료
83294  2022-09-30  50043  83104  판매수수료(KCP,토스)(판)      전자상거래수수료(카드결제) 1 X 6,121,261   6733611          0  차변     주식회사 한국사이버결제  매입매출전표  2022  9  30  판매비와관리비      기타판관비  지급수수료
83296  2022-09-30  50044  83104  판매수수료(KCP,토스)(판)    전자지불수수료(im_mildang8wv 2022/09)  48854194          0  차변      토스페이먼츠 주식회사  매입매출전표  2022  9  30  판매비와관리비      기타판관비  지급수수료

[6018 rows x 16 columns]

In [66]:
jnl22.계정과목('선수수익').df

               일자   전표번호   계정코드  계정과목    적요         차변         대변  구분  거래처명        유형     년   월   일   대분류   중분류   소분류
23     2022-01-01  00000  26300  선수수익  전기이월          0  969526083  대변  None      None  2022   1   1  유동부채  선수수익  선수수익
5085   2022-01-31  00054  26300  선수수익  None  -85439408          0  차변  None  복사전표[일반]  2022   1  31  유동부채  선수수익  선수수익
9661   2022-02-28  00100  26300  선수수익  None -145333024          0  차변  None  복사전표[일반]  2022   2  28  유동부채  선수수익  선수수익
17668  2022-03-31  00287  26300  선수수익  None -401917034          0  차변  None  복사전표[일반]  2022   3  31  유동부채  선수수익  선수수익
28098  2022-04-30  00080  26300  선수수익  None -179632319          0  차변  None  복사전표[일반]  2022   4  30  유동부채  선수수익  선수수익
37394  2022-05-31  00393  26300  선수수익  None   95992912          0  차변  None  복사전표[일반]  2022   5  31  유동부채  선수수익  선수수익
50538  2022-06-30  00197  26300  선수수익  None  106196890          0  차변  None      일반전표  2022   6  30  유동부채  선수수익  선수수익
57372  2022-07-31  00044  26300  선수수익  None  -11717005          0  차변  None      일반전표  2022   7  31  유동부채  선수수익  선수수익
67465  2022-08-31  00081  26300  선수수익  None -703612654          0  차변  None      일반전표  2022   8  31  유동부채  선수수익  선수수익
82604  2022-09-30  00017  26300  선수수익  None -243383373          0  차변  None      일반전표  2022   9  30  유동부채  선수수익  선수수익
93205  2022-10-31  00301  26300  선수수익  None  274667353          0  차변  None      일반전표  2022  10  31  유동부채  선수수익  선수수익

In [54]:
jnl22.일자(date(2022, 1, 3)).전표번호(['00020']).df

             일자   전표번호   계정코드   계정과목    적요        차변        대변  구분          거래처명    유형     년  월  일   대분류        중분류    소분류
245  2022-01-03  00020  10300   보통예금  케이씨피  10746420         0  차변  우리은행(320981)  일반전표  2022  1  3  유동자산   현금및현금성자산   보통예금
246  2022-01-03  00020  10800  외상매출금  케이씨피         0  10746420  대변  주식회사 한국사이버결제  일반전표  2022  1  3  유동자산  매출채권및기타채권  외상매출금

In [69]:
jnl09 = jnl22.일자(date(2022,9,30)).전표번호(['00015', '00016', '00017', '00265', '00266', '00267', '50002', '50003', '50004','50005', '50006', '50007'])
jnl09.df

               일자   전표번호   계정코드   계정과목              적요          차변          대변  구분          거래처명        유형     년  월   일   대분류        중분류    소분류
82600  2022-09-30  00015  10300   보통예금         스마트스토어정      155153           0  차변   기업은행(04010)      일반전표  2022  9  30  유동자산   현금및현금성자산   보통예금
82601  2022-09-30  00015  10800  외상매출금         스마트스토어정           0      155153  대변   네이버스마트스토어교재      일반전표  2022  9  30  유동자산  매출채권및기타채권  외상매출금
82602  2022-09-30  00016  10300   보통예금      tosspaymen    77930211           0  차변   기업은행(04010)      일반전표  2022  9  30  유동자산   현금및현금성자산   보통예금
82603  2022-09-30  00016  10800  외상매출금      tosspaymen           0    77930211  대변   토스페이먼츠 주식회사      일반전표  2022  9  30  유동자산  매출채권및기타채권  외상매출금
82604  2022-09-30  00017  26300   선수수익            None  -243383373           0  차변          None      일반전표  2022  9  30  유동부채       선수수익   선수수익
82605  2022-09-30  00017  40100   상품매출            None           0  -243383373  대변          None      일반전표  2022  9  30    매출         매출  B2C매출
83156  2022-09-30  00265  25100  외상매입금        판매수수료 대체      297195           0  차변  네이버파이낸셜 주식회사      일반전표  2022  9  30  유동부채  매입채무및기타채무  외상매입금
83157  2022-09-30  00265  10800  외상매출금        판매수수료 대체           0      297195  대변   네이버스마트스토어교재      일반전표  2022  9  30  유동자산  매출채권및기타채권  외상매출금
83158  2022-09-30  00266  25100  외상매입금        판매수수료 대체     6733611           0  차변  주식회사 한국사이버결제      일반전표  2022  9  30  유동부채  매입채무및기타채무  외상매입금
83159  2022-09-30  00266  10800  외상매출금        판매수수료 대체           0     6733611  대변  주식회사 한국사이버결제      일반전표  2022  9  30  유동자산  매출채권및기타채권  외상매출금
83160  2022-09-30  00267  25100  외상매입금        판매수수료 대체    48854194           0  차변   토스페이먼츠 주식회사      일반전표  2022  9  30  유동부채  매입채무및기타채무  외상매입금
83161  2022-09-30  00267  10800  외상매출금        판매수수료 대체           0    48854194  대변   토스페이먼츠 주식회사      일반전표  2022  9  30  유동자산  매출채권및기타채권  외상매출금
83210  2022-09-30  50002  10800  외상매출금     KCP_신용카드_9월   203289500           0  차변  주식회사 한국사이버결제  복사전표[매출]  2022  9  30  유동자산  매출채권및기타채권  외상매출금
83211  2022-09-30  50002  40101  B2C매출     KCP_신용카드_9월           0   203289500  대변  주식회사 한국사이버결제  복사전표[매출]  2022  9  30    매출         매출  B2C매출
83212  2022-09-30  50003  10800  외상매출금    TOSS_신용카드_9월  1454521595           0  차변   토스페이먼츠 주식회사  복사전표[매출]  2022  9  30  유동자산  매출채권및기타채권  외상매출금
83213  2022-09-30  50003  40101  B2C매출    TOSS_신용카드_9월           0  1454521595  대변   토스페이먼츠 주식회사  복사전표[매출]  2022  9  30    매출         매출  B2C매출
83214  2022-09-30  50004  10800  외상매출금    TOSS_가상계좌_9월   131525000           0  차변   토스페이먼츠 주식회사  복사전표[매출]  2022  9  30  유동자산  매출채권및기타채권  외상매출금
83215  2022-09-30  50004  40101  B2C매출    TOSS_가상계좌_9월           0   131525000  대변   토스페이먼츠 주식회사  복사전표[매출]  2022  9  30    매출         매출  B2C매출
83216  2022-09-30  50005  10800  외상매출금  TOSS_포인트결제등_9월     5777000           0  차변   토스페이먼츠 주식회사  복사전표[매출]  2022  9  30  유동자산  매출채권및기타채권  외상매출금
83217  2022-09-30  50005  40101  B2C매출  TOSS_포인트결제등_9월           0     5777000  대변   토스페이먼츠 주식회사  복사전표[매출]  2022  9  30    매출         매출  B2C매출
83218  2022-09-30  50006  10800  외상매출금     네이버_신용카드_9월     5488231           0  차변   네이버스마트스토어교재  복사전표[매출]  2022  9  30  유동자산  매출채권및기타채권  외상매출금
83219  2022-09-30  50006  40103   교재매출     네이버_신용카드_9월           0     5488231  대변   네이버스마트스토어교재  복사전표[매출]  2022  9  30    매출         매출   교재매출
83220  2022-09-30  50007  10800  외상매출금     네이버_가상계좌_9월     1531973           0  차변   네이버스마트스토어교재  복사전표[매출]  2022  9  30  유동자산  매출채권및기타채권  외상매출금
83221  2022-09-30  50007  40103   교재매출     네이버_가상계좌_9월           0     1531973  대변   네이버스마트스토어교재  복사전표[매출]  2022  9  30    매출         매출   교재매출

In [74]:
B2C매출 = jnl09.계정과목('B2C매출').df['대변'].sum()
B2C매출

1795113095

In [75]:
상품매출 = jnl09.계정과목('상품매출').df['대변'].sum()
상품매출

-243383373

In [76]:
B2C매출 + 상품매출

1551729722